p{font:monospace;text-align:center;color:red; font-weight:bold; font-size:large; margin:10px}
table{width:100%;border-style:outset;border-width:5px;background-color:#CCFFFF;}
input{padding:10px; margin:10px;position:relative;}
body{background-color:#330033;}
